<h1>Listing Gifs</h1>

<%= link_to 'Add new Pangolin gif', new_gif_path %>
 
<% @gifs.each do |gif| %>
    <h2><%= gif.description %></h2>
    <img src="<%= gif.url %>" alt="<%= gif.description %>"/>
    <p><%= link_to 'Show', gif_path(gif) %></p>
    <p><%= link_to 'Edit', edit_gif_path(gif) %></p>
    <p><%= link_to 'Destroy', gif_path(gif),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<% end %>


