<h1>New Gif</h1>

<%= form_with scope: :gif, url: gifs_path, local: true do |form| %>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
 
  <p>
    <%= form.label :url %><br>
    <%= form.text_area :url %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>